/*Cuerpo*/
body{
    margin: 0;
    border: 0;
    position: relative;
    padding-bottom:20%;
    
}

/*header*/
header{
    display: flex;
    background-color: rgb(178, 113, 240);
    margin: 0;
    padding-top: auto;
    border: 0;
    width: 100%;
}

.info{
    display: flex;
    padding: 0;
    border: 0;
    margin-left: 5%;
}

.info h2{
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 17rem;
}

.info h2 a{
    padding-right: 10px;
    border-right-style: solid;
    border-width: 1px;
    color: azure;
    text-decoration: none;
}


.logotipo h1{
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: azure;
    font-size: 3.5rem;
    margin-left:1.25rem ;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    border: 0;
}

.logotipo h1 a{
    font-family: "IBM Plex Sans Condensed", sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-style: normal;
    color: azure;
}

/* Barra de navegación*/
nav{
    display: flex;
    position: sticky;
    top: 0;
    background-color: blueviolet;
    margin: 0;
    width: 100%;
}

.barraDeBusqueda{
    display: flex;
    width: 40%;
    height: 35px;
    margin-left: 1.60rem;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
    border-style: solid;
    border-color: white;
    background-color: rgb(178, 113, 240) ;
}

.barraDeBusqueda input{
    background-color:rgb(178, 113, 240);
    width: 87%;
    border: none;
    border-radius: 10px;

}

#cancelarB{
    cursor: pointer;
    background-image: url("/img/cancelar.png");
    width:30px;
    height: 30px;
    padding: 0;
    border: none;
    margin-top: auto;
    margin-bottom: auto;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
}

#bus{
    cursor: pointer;
    background-image: url("/img/lupa.png");
    width:40px;
    height: 35px;
    margin-top: 0;
    margin-bottom: auto;
    border: none;
    background-color: transparent;
    background-size:contain;
    background-repeat: no-repeat;
}

/* Menú desplegable */
.menuPrin { 
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 70px;
}

.menuPrin ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menuPrin ul li {
    position: relative;

}

.menuPrin ul a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-left: 100px;
    margin-right: 50px;
    font-weight: 400;
    font-size: 25px;
    padding: 10px;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    letter-spacing: 1px;
    background-color: blueviolet;
}

.menuPrin ul li:hover > a {
    background-color: rgba(179, 113, 240, 0.719);
}
/*sube menu*/
.menuPrin ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 100px;
    background-color: blueviolet;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menuPrin ul ul li {
    width: 195px;
    border-bottom-style: solid;
    border-color:rgb(178, 113, 240);
    border-width: 1px;
}

.menuPrin ul ul a {
    margin: 0;
    font-size: 18px;
}

.menuPrin ul li:hover > ul {
    display: block;
}

/*fin nav*/

/*grid de la pagina principal*/
.contenedor{
    margin: 0;
    max-width: 100%;
    display: grid;
    grid-template-columns: 55% 20% 25%;
    grid-template-rows: 100vh;
}

.parte{
    border-style: solid;
    border-color:transparent;
    border-width: 10px;
}

/*parte de la publi*/
.publicidad{
    background-color: transparent;
}

.publicidad1{
    margin-top:0;
}

.publicidad1 h1{
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-style: italic;
    text-align: center;
    color:blueviolet;
    font-size: 55px;
    margin-top: 0;
    margin-bottom: 0;
}

.publicidad1 h3{
    text-align: center;
    margin-top: 0;
    margin-bottom: auto;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-style: italic;
    color:blueviolet;
    font-size: 40px;
    
}

.publicidad1 div{
    background-color:rgb(178, 113, 240) ;
    border-radius: 10px;
    width: 100%;

}

.publicidad1 img{
    margin: 0;
    padding: 0;
    border-radius: 5px;
    width:95%;
    margin: 2% 2% 2% 2%;
    
}

/*publicidad 2*/

.publicidad2{
    margin-top: auto;
    width: 100%;
}


#publicidad2text{
    margin-top: 0;
    color:  blueviolet;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 35px;
    text-align: center;
}

/*SideBar*/

.infCancer{
    text-align: right;
    background-color: blueviolet;
}

.infCancer h2{
    color: azure;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 25px;
    margin-top: 0px;
    background-color: blueviolet;
}

.infCancer ul{
    list-style: none;
    padding: 0;
}

.infCancer ul a{
    display: block; 

}

.infCancer li{
    width: 100%;
    border-bottom-style: solid;
    border-color: rgb(178, 113, 240);  
    border-width: 2px;
}

.infCancer li a{
    letter-spacing: 1px;
    padding: 8.2%;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    text-decoration: none;
    color: azure;
    font-size: 20px;
}

.infCancer ul li:hover > a {
    background-color: rgba(179, 113, 240, 0.719);
}

/*fin article*/

/*inicio footer*/

footer{ 
    font-family:"IBM Plex Sans Condensed", sans-serif ;
    background-color: blueviolet;
    color: azure;
    width: 100%;
    position: absolute;
    height: 11%;
    bottom: 0;

}

footer ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

footer li{
    font-family: "IBM Plex Sans Condensed", sans-serif;
    border-right-style: solid;
    border-width: 2px;
    border-color:rgb(178, 113, 240) ;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 50px;
}

/*FIN DE LA PAG PRINCIPAL*/

/*grid de los productos*/
.contenedorPro{
    margin: 0;
    display: grid;
    max-width: 100%;
    grid-template-columns: 25% 25% 25% 25%;

}

.productos{

    grid-column-start: 1;
    grid-column-end: 4;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    max-height: 100%;
    text-align: center;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    color:blueviolet ;
    align-content: center;
}

.subparte1 div {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    background-color:rgb(178, 113, 240);
    border-radius: 10px;
    padding: 4px;
    width: fit-content;
    height: fit-content;
}

.subparte1 img{
    width: 20em;

}

.subparte1 h1{
    margin-bottom: 0;
    padding-bottom: 7px;

}
.subparte1 h1 a{
    color: blueviolet;
    text-decoration: none;
    margin-bottom: 0;
    padding-bottom: 7px;
}

.subparte1 p{
    font-family: "IBM Plex Sans Condensed", sans-serif;
    color:blueviolet ;
    size: 20px;
    margin-top: 0;
}

.parte2Pro{
    grid-column-start: 4;
    grid-column-end: 5;

}

.Articulo{
    grid-column-start: 1;
    grid-column-end: 4;
}

.Articulo h1{
    text-align: center;
    color: blueviolet;
    font-family:  "IBM Plex Sans Condensed", sans-serif;
    font-size: 70px;
}

.Articulo div{
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: larger;
    text-align: justify;
    margin-left: 2%;
    margin-right: 4%;
}

.productosCatalogo{

    grid-column-start: 1;
    grid-column-end: 4;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    max-height: 100%;
    text-align: center;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    color:blueviolet ;
    align-content: center;
}

#bleo{
    height: 200px;
    width: auto;
}